source http://nuget.org/api/v2

nuget FAKE
nuget Suave
nuget FunScript
nuget FunScript.TypeScript.Binding.lib
nuget FunScript.TypeScript.Binding.jquery
nuget FSharp.Compiler.Service

github matthid/Yaaf.FSharp.Scripting src/source/Yaaf.FSharp.Scripting/YaafFSharpScripting.fs